language: node_js
node_js:
    - "8.9.1"
cache:
    directories:
        - node_modules
        - code/web/node_modules
        - code/api/node_modules
        - $HOME/.meteor/

before_install:
    - export PATH="$HOME/.meteor:$PATH"
    - curl https://install.meteor.com | /bin/sh
before_script:
    - npm run setup
script:
    - npm run cli
