@import './break-points.scss';
@import './modal';

@media #{$largeBreakpoint} {
  .custom-layout-sidebar-left-offset-l {
    margin-left: 730px;
  }
  .custom-max-height-sidebar-l {
    max-height: calc(100vh - 200px);
  }
  .custom-max-height-playlist-list-l {
    max-height: 190px;
  }
  .custom-max-height-member-list-l {
    max-height: 190px;
  }
}

// vuejs animation
.fade-enter-active {
  transition: opacity 3.6s ease;
}
.fade-leave-active {
  transition: opacity 10s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.v-select {
  min-width: 200px;
}
