@import './variables';

.grow-xlarge {
  transition: 0.3s transform;

  &:hover {
    transform: scale(1.4);
  }
}

.all-transition { transition: all 0.25s; }

.w-largeinput { width: 200px; }
.user-select-none { user-select: none; }
.not-allowed { cursor: not-allowed; }
.wait { cursor: wait; }

.light-gray { color: $lightGray; }
.bg-light-gray { background-color: $lightGray; }

.gray-pulsing-infinite { animation: pulseGray 2s ease-in-out infinite; }
.bg-gray-pulsing-infinite { animation: bgPulseGray 2s ease-in-out infinite; }

@keyframes pulseGray {
  0%, 100% {
    color: $lightGray;
  }
  50% {
    color: $lighterGray;
  }
}

@keyframes bgPulseGray {
  0%, 100% {
    background-color: $lightGray;
  }
  50% {
    background-color: $lighterGray;
  }
}
