@import './functional';
@import './custom';

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,600,800|Source+Sans+Pro:400,800,900');

body {
  font-family: 'Libre Franklin', sans-serif;
}

.dz-preview { display: none; }
[v-cloak] { display: none !important; }

